header{
    width: 70vw;
    height: 3vw;
    border: 1px solid black;
    margin: 0 auto;
    display: flex;
}

header input {
    flex-grow: 1;
    border: none;
    border-right: 1px solid black;
}
header button{
    border: none;
}
main div.container{
    flex-grow: 1;
    border: none;
    border-right: 1px solid black;

}

main div.container span {
    display: inline-block;
    flex-grow: 1;
}
